@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}

.pin {
  margin: 8px;
  width: 200px;
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pin img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.pin p {
  padding: 8px;
}

a:link{
  color: white;
  background: transparent;
  text-decoration: none;
}


