@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}


.pin {
  margin: 8px;
  width: 200px;
  display: inline-flex;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pin img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.pin p {
  padding: 8px;
}

a:link{
  color: white;
  background: transparent;
  text-decoration: none;
}


/* Add this to your CSS or a stylesheet */
.h-20 {
    height: 3.8rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #767676;
}

/* Add this CSS code in your custom CSS file or tailwind.css */

.masonry {
  column-count: 6;
}

@media (min-width: 600px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry {
    column-count: 4;
  }
}

@media (min-width: 796px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 6;
  }
}
